@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

.lost-heading {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.typing::after {
  content: '|';
  animation: blink 1s infinite;
}

@keyframes blink {
  50% { color: transparent; }
}

.rbc-day-bg  {
  background-color: #ffffff !important;
}


.rbc-event{
  background-color: #9c9c9cd1;
}

.rbc-header, .rbc-btn-group{
  background-color: #ffffff !important; 
}
/* .rbc-event-content{
  background-color: #9c9c9c !important;
  color: #fff !important;

} */

@layer utilities {
  .gradient-text {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes reveal {
  0% { width: 0; }
  100% { width: 100%; }
}

.reveal-animation {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  animation: reveal 2s steps(40, end) forwards;
}


